*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.elm{
    border: 2px solid rgb(213, 216, 10);
    width: 22%;
    padding: 15px;
    line-height: 25px;
    margin: 30px auto;
    border-radius: 20px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}